.policy {
  @include section;

  &__heading {
    @include section-heading;
    margin-bottom: 0;

    &__underline {
      @include heading-underline;
      margin-bottom: 30px;
    }
  }

  &__about-heading,
  &__quality-heading,
  &__environment-heading,
  &__work-environment-heading {
    color: #395d95;
    background-color: #dad3d3;
    padding: 15px;
    border: 1px solid #395d95;
    border-radius: 30px;
    margin: 40px 20px 20px 20px;
    box-shadow: 0px 0px 11px 0px #395d95;
  }

  &__quality {
    @include section-text;

    &__list {
      @include section-list;

      &__cursiv-text {
        font-style: italic;
      }
    }
  }

  &__environment {
    @include section-text;

    &__highlight {
      font-style: italic;
    }

    &__list {
      @include section-list;
    }

    &__cert-title {
      @include section-heading;
      font-size: 20px;

      @media (min-width: 500px) {
        margin-top: 10px;
        font-size: 30px;
      }
    }

    &__cert-logo-wrap {
      @include image-sizing;
      @include cert-logo;
      margin-top: 10px;
      margin-bottom: 80px;

      @media (min-width: 500px) {
        margin-top: 20px;
        margin-bottom: 150px;
      }
    }
  }

  &__work-environment {
    @include section-text;

    &__list {
      @include section-list;
    }
  }
}
