.about {
  @include section;

  &__heading {
    @include section-heading;

    &__underline {
      @include heading-underline;
    }
  }

  &__text-one,
  &__text-two,
  &__text-three {
    margin: 0 10px 30px 10px;

    @media (min-width: 500px) {
      margin: 0 80px 40px 80px;
    }

    @media (min-width: 700px) {
      margin: 0 150px 50px 150px;
    }
  }

  &__cert-title {
    @include section-heading;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;

    @media (min-width: 500px) {
      font-size: 35px;
    }
  }

  &__cert-logo-wrap {
    @include image-sizing;
    @include cert-logo;
  }
}
