.about {
  @include section;

  &__heading {
    @include section-heading;

    &__underline {
      @include heading-underline;
    }
  }

  &__text {
    margin: 0 10px;

    @media (min-width: 500px) {
      margin: 0 100px;
    }
  }

  &__cert-logo-wrap {
    @include image-sizing;
    max-width: 125px;
    max-height: 91px;
    margin: 40px 0 15px 0;

    @media (min-width: 500px) {
      max-width: 140px;
      max-height: 102px;
      margin: 50px 0 20px 0;
    }
  }
}
