.contact-info {
  @include section;
  background-color: #dadada;
  border-radius: 100px;
  margin: 60px 30px;
  padding: 50px;
  box-shadow: 0px 0px 31px -2px #4d5157;

  @media (min-width: 700px) {
    margin: 80px 180px;
  }

  &__heading {
    @include section-heading;

    &__underline {
      @include heading-underline;
    }
  }

  &__email-label {
    margin-bottom: 5px;
    font-size: larger;
  }

  a {
    text-decoration: none;
    color: #1c4f9d;

    &:hover {
      color: #2568cf;
    }

    @media (max-width: 300px) {
      font-size: 10px;
    }
  }

  &__phone-label {
    margin: 30px 0 5px 0;
    font-size: larger;
  }
}
