.contact-info {
  @include section;
  background-color: #f5f3f0;
  margin: 0;
  padding: 90px 0;

  @media (min-width: 1180px) {
    margin: 0;
  }

  &__heading {
    @include section-heading;

    &__underline {
      @include heading-underline;
    }
  }

  &__email-label {
    margin-bottom: 5px;
    font-size: larger;
  }

  a {
    text-decoration: none;
    color: #1b7b88;

    &:hover {
      color: #21998f;
    }

    @media (max-width: 300px) {
      font-size: 10px;
    }
  }

  &__phone-label {
    margin: 30px 0 5px 0;
    font-size: larger;
  }
}
