.contact-info {
  @include section;
  border-radius: 100px;

  &__heading {
    @include section-heading;

    &__underline {
      @include heading-underline;
    }
  }

  &__email-label {
    margin-bottom: 5px;
    font-size: larger;
  }

  a {
    text-decoration: none;
    color: #1c4f9d;

    &:hover {
      color: #2568cf;
    }

    @media (max-width: 300px) {
      font-size: 10px;
    }
  }

  &__phone-label {
    margin: 30px 0 5px 0;
    font-size: larger;
  }
}
