.footer {
  background: #395d95;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  text-align: center;
  padding: 30px;

  @media (min-width: 900px) {
    justify-content: center;
    align-items: center;
    min-height: 200px;
  }

  &__link-list {
    @include link-list;
    margin-bottom: 5vh;
    align-items: center;


    li {
      line-height: 200%;
      display: flex;
    }

    @media (min-width: 900px) {
      padding-right: 0;
      flex-direction: row;
    }
  }

  &__links {
    @include menu-link-style;
    transition: linear 300ms;
    color: white;
    padding: 15px;


    &:hover {
      color: rgb(247, 218, 168);
      font-size: 18px;
    }

    @media (min-width: 900px) {
      font-size: 16px;
      padding: 20px;
    }

    &:after {
      content: "";
      display: block;
      margin: auto;
      width: 50px;
      border-bottom: 3px solid rgb(252, 234, 202);
      transition: linear 300ms;
    }
    // &--active {
    //   @include menu-link-style;
    //   color: white;
    //   border-bottom: 3px solid rgb(252, 234, 202);
    //   margin: 15px;
    //   padding-bottom: 7px;
    //   transition: linear 300ms;

      
    // }
  }

  &__logo-wrap {
    @include image-sizing;
    max-width: 100px;
    max-height: auto;
    align-self: center;

    @media (min-width: 500px) {
      max-width: 150px;
    }
  }

  // h4 {
  //   font-size: 20px;
  //   font-weight: 200;

  //   @media (min-width: 700px) {
  //     font-size: 30px;
  //   }
  // }
}
