.footer {
    background: #395D95;
    color: white;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    @media (min-width: 900px) {
      min-height: 200px;
    }
  
    h4 {
      font-size: 20px;
      font-weight: bold;
  
      @media (min-width: 900px) {
        font-size: 30px;
      }
    }
  
    &__text {
      font-size: 10px;
      text-align: center;
  
      @media (min-width: 900px) {
        font-size: 20px;
      }
    }
  }