@mixin menu-wraper {
  display: flex;
  flex-direction: column;
  transition: linear 300ms;

  @media (min-width: 500px) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

@mixin image-sizing {
  height: 100%;
  width: 100%;
  img {
    display: block;
    object-fit: fill;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

@mixin link-list {
  list-style-type: none;
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, max-content);
  place-items: center;
  transition: linear 300ms;

  @media (min-width: 500px) {
    padding-right: 50px;
  }
}

@mixin menu-link-style {
  font-weight: bold;
  color: #121314;
  text-decoration: none;
}

@mixin header-hero {
  min-height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: linear 300ms;

  @media (min-width: 700px) {
    min-height: 800px;
  }

  @media (min-width: 1100px) {
    min-height: 100vh;
    min-width: 100%;
  }
}

@mixin section {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  color: #121314;
  margin: 70px 40px;
  transition: linear 300ms;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: 500px) {
    font-size: 20px;
  }

  @media (min-width: 1180px) {
    font-size: 24px;
    margin: 100px 60px;
  }
}

@mixin section-heading {
  font-size: 30px;
  margin-bottom: 10px;

  @media (min-width: 1180px) {
    font-size: 45px;
    margin-bottom: 19px;
  }
}

@mixin heading-underline {
  max-width: 100px;
  max-height: 2px;
  min-width: 100px;
  min-height: 2px;
  background: #121314;
  margin-bottom: 50px;
}

@mixin section-text {
  margin: 0 10px 10px 10px;

  @media (min-width: 500px) {
    margin: 0 80px 20px 80px;
  }

  @media (min-width: 1000px) {
    margin: 0 200px 30px 200px;
  }
}

@mixin section-list {
  text-align: left;
  // margin-left: 0 20px;
  margin: 0 20px 30px 20px;
  list-style: none;

  li {
    margin: 10px 0 0 25px;

    &::before {
      content: "•";
      color: #395d95;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  @media (min-width: 500px) {
    margin: 0 80px 40px 80px;
  }

  @media (min-width: 1200px) {
    margin: 0 300px 40px 300px;
  }
}

@mixin cert-logo {
  max-width: 145px;
  max-height: 91px;
  margin: 10px 0 25px 0;

  @media (min-width: 500px) {
    max-width: 200px;
    max-height: 102px;
    margin: 20px 0 90px 0;
  }
}
